.box{
    background-color: rgb(255, 225, 0);
    position: absolute;
width: 1500px;
height: 80px;
left: 0px;
right: 20px;
top: 10px;
background-image: url("https://www.sjcdarjeeling.edu.in/flashphotos/photos/48223508bcd204aa55e3aef1516a5d41.jpg");
}

.box1{
top: 200px;
font-weight: 2000;
font-size: 50px;

font-family: 'Alfa Slab One', cursive;
/*line-height: 30px;*/
animation: fontSizeAnimation 4s infinite;
text-align: center;


color: #ff4608f3;

backdrop-filter: blur(40px);
}
.rectangle{
    position: absolute;
width: 2408px;
height: 50px;
left: 0px;
top: 110px;

background: #201B1B;;
}
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Set the background color */
  padding: 0px;
  appearance: none;
  
  backdrop-filter: blur(10px);
  top: 0px;

}

/* Style the navigation links */
.navbar a {
  float: left; /* Float the links to the left */
  display: block; /* Display the links as blocks */
  color: rgb(255, 255, 255); /* Set the text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove the text underline */
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(18, 204, 9); /* Set the background color */
  color: black; /* Set the text color */
  
}

/* Style the active/current link */
.navbar a.active {
  background-color: #0e0d0d; /* Set the background color */
  color: white; /* Set the text color */
}
.rec{
    position: absolute;
    
width: 450px;
height: 300px;
left: 500px;
top: 265px;
background: #D9D9D9;
}
hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
  }
  .color{
    background-image: url("./5074110e026fca9fec18bd2721c090ae.jpg");
    
  }
  /*
  font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Rubik Bubbles', cursive;
font-family: 'Rubik Storm', cursive;
font-family: 'Rye', cursive;*/
